.products {
  margin-top: -170px;
  margin-bottom: 60px;
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    @include Screen-992 {
      margin-right: 0;
      margin-left: 24px;
      max-width: 268px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        display: none;
      }
      
    }
  }
  .product {

    &:nth-child(4n + 1) {
      background: #D3FBD9;
    }
    &:nth-child(4n + 2) {
      background: #FFE4BD;
    }
    &:nth-child(4n + 3) {
      background: #D9ABFD;
    }
    &:nth-child(4n + 4) {
      background: #FDF0AB;
    }
  }
}